*.pyd filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
AI/venv310/Lib/site-packages/mediapipe/** filter=lfs diff=lfs merge=lfs -text
